<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<onpaypaymentmethod>
				<active>0</active>
				<model>OnPay\OnPay\Model\Payment\OnPayPaymentMethod</model>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<title>OnPay - Secure card payment</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
				<payment_window_language>en</payment_window_language>
				<test_mode>1</test_mode>
				<type>transaction</type>
				<method></method>
				<delivery_disabled>no-reason</delivery_disabled>
				<secure>forced</secure>
				<design>window1</design>
				<expiration>86400</expiration>
			</onpaypaymentmethod>
		</payment>
	</default>
</config>
