<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="onpaypaymentmethod" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>OnPay</label>
				<field id="button_id" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
    <label></label>
    <frontend_model>OnPay\OnPay\Block\System\Config\Button</frontend_model>
</field>
				
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="test_mode" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Test Mode</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Title</label>
				</field>
				<field id="order_status" type="select" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
				</field>
				<field id="gateway_id" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Gateway ID</label>
					<validate>required-entry</validate>
				</field>
				<field id="window_secret" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Window secret</label>
					<validate>required-entry</validate>
				</field>
				<field id="api_key" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>API key</label>
					<validate>required-entry</validate>
				</field>
				<field id="payment_window_language" type="select" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Payment window language</label>
					<source_model>OnPay\OnPay\Model\Config\Source\PaymentWindowLanguage</source_model>
				</field>
				<field id="type" type="select" sortOrder="81" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Type</label>
					<source_model>OnPay\OnPay\Model\Config\Source\Type</source_model>
				</field>
				<field id="delivery_disabled" type="select" sortOrder="83" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Delivery Disabled</label>
					<source_model>OnPay\OnPay\Model\Config\Source\DeliveryDisabled</source_model>
					<depends>
						<field id="method">mobilepay_checkout</field>
					</depends>
				</field>
				<field id="secure" type="select" sortOrder="84" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>3d Secure</label>
					<source_model>OnPay\OnPay\Model\Config\Source\Secure</source_model>
				</field>
				<field id="design" type="select" sortOrder="85" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Design</label>
					<source_model>OnPay\OnPay\Model\Config\Source\Design</source_model>
				</field>
				<field id="minor_units" type="text" sortOrder="86" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Minor Units</label>
					<validate>required-entry validate-digits</validate>
				</field>
				
				<field id="expiration" type="text" sortOrder="86" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Expiration</label>
					<validate>required-entry validate-digits</validate>
					<comment>Seconds that the payment will be available before expiring.</comment>
				</field>
				
				<field id="allowspecific" type="allowspecific" sortOrder="90" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" type="multiselect" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" type="text" sortOrder="200" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sort Order</label>
				</field>
				<field id="instructions" type="textarea" sortOrder="210" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Instructions</label>
				</field>
			</group>
		</section>
	</system>
</config>
